<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>ngX-Rocket</title>
  <base href="/"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#4e8ef7"/>
  <link rel="manifest" href="manifest.json"/>
  <link rel="icon" type="image/x-icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png"/>
</head>
<body>
<!--[if lt IE 10]>
  <p>
    You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
  </p>
  <![endif]-->
  <noscript>
    <p>
      This page requires JavaScript to work properly. Please enable JavaScript in your browser.
    </p>
  </noscript>

  <app-root></app-root>
<script type="text/javascript" src="{{STATIC_URL}}/dist/inline.bundle.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/dist/polyfills.bundle.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/dist/styles.bundle.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/dist/vendor.bundle.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/dist/main.bundle.js"></script>
</body>
</html>
