div {
  display: flex;
}

.service {
  flex: 1;
  flex-direction: column;
}

.serviceHeader {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.serviceTable {
  flex: 1;
}

table,
tbody,
thead {
  width: 100%;
}
