<div class="service">
  <div class="serviceHeader">
    <input type="text" placeholder="Type for search service">
    <button>Add</button>
  </div>
  <div class="serviceTable">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Device</th>
          <th>Issue</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jozef</td>
          <td>Sony</td>
          <td>Rozbity</td>
          <td>30.1.2236</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
