* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 98vw;
  min-height: 95vh;
  margin: 0 auto;
  font: 1.2em Helvetica, arial, sans-serif;
}

.wrapper > .main-nav, .content {
  border: 2px solid #f08c00;
  background-color: #ffec99;
  border-radius: 5px;
  padding: 10px;
}

.main-head {
  grid-area: header;
}

.content {
  grid-area: content;
}

.main-nav {
  grid-area: nav;
}


.main-footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 56px 1fr 1fr  auto;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px 0px;
    grid-template-rows: 56px auto 5fr  auto;
    grid-template-areas:
      "header  header"
      "nav nav"
      "content content"
      "footer footer";
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-gap: 0px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 56px 1fr 1fr  auto;
    grid-template-areas:
      "header header  header"
      "nav    content content"
      "nav    content content"
      "footer footer  footer";
  }
}
