nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 500px) {
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  nav ul {
    flex-direction: column;
  }
}
